spring:
  application:
    name: "ecom-application"
  h2:
    console:
      enabled: true
  datasource:
    url: "jdbc:h2:mem:test"
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create # Dangerous for production application : prefer 'update'

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  
  info:
    env:
      enabled: true

info:
  app:
    name: "E-Commerce Application"
    description: "e-commerce application built following the Udemy toturial at https://www.udemy.com/course/java-spring-boot-microservices-with-spring-cloud-k8s-docker/?couponCode=UPGRADE02223"
