spring:
  application:
    name: ecom-product-microservice
  profiles:
    active: local
  config:
    import: configserver:${CONFIG_SERVER_URL}

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8081
