crypted-config:
  aes: "4e271455c795e133d87e831d4d3572fd8f865d618b27f474ffe3200518e36e0943b89a36bbbf6438f0c31befccdd1cecb01e49e2832fe59feaf7df0b87130a92"
  rsa: "{cipher}AYAJaG+vHxXVSEhi0buZumeMrQKLecqS1+ZwyTbYxneNvUu/pCVsWS73TdB3HL2TVd02PlrVrSpkAG6mfQszBGvR7GH+dxhiUp+iIyWy680QKatkKWkcjNEOLhfRqclZINR0lJ/Iczp72MhrErz94QwfhutqnEK/pPtPkzzskjpt/J0Jtjq7c5+gA5qGUhibTI85i4JggrxiRS4G9peh2EbMRYCoqwooB6QtmfMII0sc6qmfzvZ2XKHqZZ3X0C8HtSCWrdkqltHgkED2t2o1zXO/V5yC689Qc9gu5wJbyc5P3WLBz0mkdFpxL0rmqwqfdabPaMBLsXw+Bz5aH/gtGU8KWvepfflpakhPHgZuFIGz8UuMsbxxhZ0qJ/A3IRe/l2IUnuQySOrCh5Trjv0ZAQH0h1Ntj7m9vPL8gW2EVpnWHqIkCFhePc7Ll314L4FHg7n9RXA2mLG+iBCtjpy+eHYs0Tf4rQayeCUIpNq1OnOSZbDek1V3jFDwZ5ZUgRuIuPh2gPOxFMfW12uZuqeLv71Wh2wjHu4Z/b2oz+VynNC69wzzA/jIfGNowFAJNHtnQ8ENOHXtYydgEQ6TrmhFpriX"

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"
